*{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  height: 100%;
  margin: 0;
}

/* Header */

header{
  display: grid;
  grid-template-columns: 30vh 6fr 2fr 2fr 2fr 2fr 2fr 30vh;
  height: 10vh;
  background-color: rgba(16, 138, 80, 1);
  align-items: center;
}

#contato{
  grid-column: 3;
}

header a{
  text-decoration: none;
  color: white;
  justify-self: right;
  font-size: 1.2em;
}

header img{
    grid-column: 2;
}

/* Sobre */
#sobre{
  height: 45vh;
  background-color: rgba(217, 217, 217, 0.37);
  display: grid;
  grid-template-columns: 30vh 1fr 2fr 30vh;
}

#sobre img{
  grid-column: 2;
  display: grid;
  align-self: center;
  justify-self: center;
  border-radius: 100vh;
}

#explica{
  display: grid;
  align-content: center;
  text-align: justify;
}

#sobre h1{
  margin: 0;
  font-size: 2em;
}

/* Premios */
#premios{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  height: 45vh;
}

#p1{
  grid-column: 2;
}

#premios div{
  display: grid;
  justify-self: center;
  align-self: center;
}

#premios p{
  display: grid;
  justify-self: center;
  align-self: center;
}

/* Footer */
footer{
  height: 15vh;
  display: grid;
  grid-template-columns: 30vh 1fr 1fr 1fr 1fr 30vh;
  background-color: rgba(16, 138, 80, 1);
  color: white;
}

footer img{
  grid-column: 2;
  display: grid;
  align-self: center;
}

footer p{
  display: grid;
  justify-content: center;
}