* {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(ive-erhard-LxC1Qx1qulc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 ;
    
}

/* Header */

header {
    display: grid;
    grid-template-columns: 30vh 6fr 2fr 2fr 2fr 2fr 2fr 30vh;
    height: 10vh;
    background-color: none;
    align-items: center;
    box-shadow: 4px 8px 10px rgba(87, 87, 87, 0.308);
}

#contato {
    grid-column: 3;
}

header a {
    text-decoration: none;
    color: white;
    justify-self: right;
    font-size: 1.2em;
}

header img {
    grid-column: 2;
}

/* Espaço da caixa */
main {
    height: 90vh;
    width: 100%;

    display: grid;
    align-content: center;
    justify-content: center;
}

#caixa {
    height: 50vh;
    width: 55vh;
    background: linear-gradient(90deg, rgb(233, 233, 233), rgb(250, 250, 250));
    border-radius: 10px;
    box-shadow: 4px 8px 10px rgba(218, 218, 218, 0.308);
    color: black;
    filter: opacity(0.9);

    display: grid;
    grid-template-rows: 10vh 5vh 3.5vh 5vh 3.5vh 5vh 3.5vh 10vh;
    justify-content: center;
    align-items: center;
    line-height: 2px;
}

/* Itens da caixa */
#caixa input {
    width: 100%;
    border: 0;
    border-radius: 3px;

    box-shadow: 1px 1px 2px #333333;
    height: 3.5vh;
}

#caixa h1 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
}

#caixa button {
    border-radius: 10px;
    height: 5vh;
    width: 100%;
    color: white;
    background: rgb(12, 117, 67);
    border: 0;
    font-size: 1em;
}

/* Footer */
footer {
    margin-top: 5vh;
    height: 15vh;
    display: grid;
    grid-template-columns: 30vh 1fr 1fr 1fr 1fr 30vh;
    background-color: rgba(16, 138, 80, 1);
    color: white;
}

footer img {
    grid-column: 2;
    display: grid;
    align-self: center;
}

footer p {
    display: grid;
    justify-content: center;
}