*{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
body{
    height: 100%;
    margin: 0;
}

/* Header */

header{
    display: grid;
    grid-template-columns: 30vh 6fr 2fr 2fr 2fr 2fr 2fr 30vh;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
  
#contato{
    grid-column: 3;
}
  
header a{
    text-decoration: none;
    color: rgba(16, 138, 80, 1);
    justify-self: right;
    font-size: 1.2em;
}
  
header img{
    grid-column: 2;
}

/* Busca */
#busca{
    display: grid;
    grid-template-columns: 100%;
    height: 9vh;
    background-color: rgba(16, 138, 80, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#busca svg{
    height: 20%;
    margin-right: 10px;
    margin-left: 3px;
}

#pesquisa{
    height: 4vh;
    width: 20%;
    line-height: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: 25px;
    z-index: 1;
}

#busca button{
    background-color: rgb(1, 116, 58);
    box-shadow: -50px 0 0 0 rgb(1, 116, 58);
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    border-radius: 25px;
    height: 4vh;
}

/* Linha */
#linha-branca{
    height: 1px;
    background-color: rgb(2, 167, 85);
}

/* Promoções */
#promocoes{
    background-color: rgba(16, 138, 80, 1);
    display: grid;
    height: 40vh;
    grid-template-columns: 30vh 3fr 1fr 3fr 30vh;
}

#promocoes div{
    grid-column: 2;
    color:white;
    text-align: justify;
    display: grid;
    justify-self: center;
    align-self: center;
}

#promocoes h1{
    margin: 0;
    font-size: 2em;
}

#promocoes img{
    grid-column: 4;
    height: 35vh;
    display: grid;
    align-self: center;
    justify-self:right;
}

/* Comidas */
#comidas{
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr) 3fr;
    height: 20vh;
}

#comidas svg{
    height: 8vh;
    display: grid;
    justify-self: center;
    align-self: center;
}

#comida1{
    grid-column: 2;
}

/* Letrinhas */
#letrinhas{
    display: grid;
    grid-template-columns: 30vh 1fr 30vh;
}
#letrinhas p{
    grid-column: 2;
    font-size: 1.2em;
}

/* Produtos */
#tds-produtos{
    display: grid;
    grid-template-columns: 30vh repeat(6, 1fr) 30vh;
    grid-template-rows: 26vh 26vh;
    row-gap: 2vh;
}

#tds-produtos div{
    display: grid;
    align-items: center;
    justify-items: center;
}

#tds-produtos p{
    margin: 0;
}

#produto01{
    grid-column: 2;
}

/* Footer */
footer{
    margin-top: 5vh;
    height: 15vh;
    display: grid;
    grid-template-columns: 30vh 1fr 1fr 1fr 1fr 30vh;
    background-color: rgba(16, 138, 80, 1);
    color: white;
  }
  
  footer img{
    grid-column: 2;
    display: grid;
    align-self: center;
  }
  
  footer p{
    display: grid;
    justify-content: center;
  }